html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

form {
    max-width: 500px;
    margin: 20px auto;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    border-radius: 10px; 
}

#Formulario {
    background-color: #483D8B; 
    padding: 20px;
    border-radius: 10px;
    height: 95vh; 
}

label {
    display: block;
    margin-bottom: 3px;
    font-size: 20px;
    color: white; 
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    width: 70%;
    background-color: rgb(97, 97, 97);
    color: white;
    padding: 10px; 
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
}

.contorno {
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 400px; 
    margin: 0 auto; 
    height: 100%;
    align-items: center;
    justify-content: center;
}
#imagemcontato{
    height: 100px;
    width:300px ;
}
.tituloformulario{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
input[type="submit"]:hover{
    background-color: rgb(99, 0, 99);
}